footer {
    background-color: rgba(29, 53, 87, 0.8);
    color: $fourth;
    padding: 20px 0;
    text-align: center;
    margin-top: 55px;
}

a:visited {
    color: inherit;
}

a:hover {
    border-bottom: 2px solid $fifth;
}

