html {
    background-color: $fourth;
    background-image: url(../../src/assets/flowers.png);
}

body {
    color: $primary;
    font-size: 1.8rem;
    font-style: $main;
    letter-spacing: 0.9px;
}

// room and task card styles
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

h3 {
    font-family: $title;
    font-size: 3.1rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    margin-bottom: 25px;
}

.taskContainer {
    padding: 25px 80px;
    background-color: $fourth;
    border: 3px solid rgba(29, 53, 87, 0.8);;
    border-radius: 10px;
    box-shadow: 3px 1px rgba(0,0,0,0.2);
}

ul {
    display: block;
    margin: 0 auto;
}

li,
.taskUpdate {
    display: flex;
    align-items: center;
}

span {
    display: inline-block;
    padding: 0 10px;
}

// BUTTON styles
button {
    border-style: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    letter-spacing: 0.9px;
}

button:focus,       
.taskUpdate:focus,
a:focus {
    outline: 1px dashed $primary;
}

// buttons that update whether task is complete styles
input[type=checkbox] {  
        display: none;
        transform: scale(3.2);
        position: absolute;
    }  

.taskUpdate {
    margin: 10px 0;
}

.taskUpdate:hover,
.removeBtn:hover {
    transform: scale(1.1);
}

.noBtn,
.yesBtn {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.noBtn:focus,
.yesBtn:focus {
    outline: none;
}

.noBtn {
    background-color: $secondary;
}

.yesBtn {
    background-color: $third;
}

// button to remove tasks
.removeBtn {
    background-color: rgba(230, 57, 70, 0.6);
    color: $fourth;
    border-radius: 5px;
    height: 3rem;
}

.removeBtn:hover {
    background-color: $fifth;
}

// completed list item styles
.yes {
    color: rgba(29, 53, 87, 0.3);
    text-decoration: line-through;
    background-color: transparent;

}

// FORM styles
input[type=text] {
    margin: 35px 0 25px 0;
    caret-color: $fifth;
    padding: 5px;
    border-style: none;
    background-color: transparent;
    border-bottom: 1px solid $primary;
    border-radius: 5px 0 0 0;
    width: 70%;
}

input[type=text]:focus {
    background-color: rgba(168, 218, 220, 0.3);
    outline: none;
}

// button to add new tasks styles
.addBtn {
    background-color: transparent;
    border-bottom: 3px solid rgba(29, 53, 87, 0.9);
    border-right: 5px solid rgba(29, 53, 87, 0.9);
    border-radius: 5px 5px 5px 0;
    color: $primary;
    width: 30%;
}

.addBtn:hover {
    background-color: $primary;
    color: $fourth;
}

// button to add new task suggestions
.suggestBtn {
    display: block;
    margin: 25px auto;
    background-color: rgba(168, 218, 220, 0.6);
    border-radius: 5px;
    padding: 15px;
    color: $primary;
}

.suggestBtn:hover {
    background-color: $secondary;
    color: white;
}



